.formTransfers {
    width: 272px;
    height: 258px;
    display: flex;
    flex-direction: column;
    gap: 21px;
    background-color: rgba(232, 235, 242, 1);
    border-radius: 10px;
    justify-content: flex-start;
    align-items: center;
    .formTransfers_title {
        font: bold 20px "Inter", sans-serif;
        margin: 19px auto 6px;
    }
    .formTransfers_label {
        width: 165px;
        font: 500 16px / 100% "Inter", sans-serif;
        display: flex;
        gap: 19px;
        align-items: center;
        color: rgba(133, 138, 227, 1);
        position: relative;
        .formTransfers_label_checked {
            appearance: none;
            margin: 0;
            width: 15px;
            height: 15px;
            border: 1px solid rgba(78, 20, 140, 1);
            border-radius: 3px;
        }
        .formTransfers_label_checked:checked {
            background-color: rgba(232, 235, 242, 1);
        }
        .formTransfers_label_checked:checked:before {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 5px;
            width: 3px;
            height: 8px;
            border: 2px solid transparent;
            border-bottom-color: rgba(78, 20, 140, 1);
            border-right-color: rgba(78, 20, 140, 1);
            transform-origin: 50% 50%;
            transform: rotate(35deg);
        }
    }
}