$fontF: "Inter", sans-serif;

.filterButtons {
    width: 727px;
    height: 55px;
    display: flex;
    .button {
        width: 242px;
        color: rgba(78, 20, 140, 1);
        background-color: rgba(232, 235, 242, 1);
        border: 1px solid rgba(78, 20, 140, 1);
        font: bold 16px / 100% $fontF;
        cursor: pointer;
    }
    .button:first-of-type {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }
    .button:nth-of-type(2n) {
        flex-grow: 1;
    }
    .button:last-of-type {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    .button:hover, .button__active {
        background-color: rgba(78, 20, 140, 1);
        color: rgba(247, 249, 247, 1);

    }
}